<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Database Management Basics</title>
	<link rel="stylesheet" href="../static/CSS/dsnQuiz.css">
	<link rel="shortcut icon" href="../static/Images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="logo"><img src="../static/Images/logo.png" alt="" srcset=""></div>
	<div class="quizhead">
		<h1><b>Data Science Fundamentals </b></h1>
	</div>
	<form action="/submit_dsnanswer" method="POST">

		<div class="quiz-container" id="quiz-content">
			<p id="question">{{ question }}</p>
			<input type="radio" name="answer" value="1" id="option1">
			<label for="option1">{{ options[0] }}</label><br>
			<input type="radio" name="answer" value="2" id="option2">
			<label for="option2">{{ options[1] }}</label><br>
			<input type="radio" name="answer" value="3" id="option3">
			<label for="option3">{{ options[2] }}</label><br>
			<input type="radio" name="answer" value="4" id="option4">
			<label for="option4">{{ options[3] }}</label><br>
			<button type="submit" class="movetonext" onclick="submitForm()">Submit</button>
		</div>

	</form>

	<script>
		function submitForm() {
			const selectedAnswer = document.querySelector('input[name="answer"]:checked');
			if (!selectedAnswer) {
				alert('Please select an answer before submitting.');
				return;
			}

			const answer = selectedAnswer.value;

			fetch(`/submit_dsnanswer?answer=${answer}`, {
				method: 'POST'
			})
				.then(response => response.json())
				.then(data => {
					// Check if the quiz is completed
					if (data.question === 'Quiz completed') {
						window.location.href = '/result'; // Redirect to the result page
					} else {
						window.location.href = '/dsnquiz'; // Redirect to the next question
					}
				})
				.catch(error => {
					console.error('Error:', error);
				});
		}
	</script>

</body>

</html>