<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" href="../static/Images/favicon.png" type="image/x-icon">

	<title>Quiz Master</title>

	<link rel="stylesheet" type="text/css" href="../static/CSS/bootstrap.css" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="../static/CSS/style.css" rel="stylesheet" />
	<link href="../static/CSS/responsive.css" rel="stylesheet" />
</head>

<body>
	<div class="hero_area">
		<!-- header section strats -->
		<div class="hero_bg_box">
			<div class="img-box">
				<img src="Images/hero-bg.jpg" alt="">
			</div>
		</div>

		<header class="header_section">
			<div class="header_bottom">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg custom_nav-container">
						<a class="navbar-brand" href="index.html">
							<img src="../static/Images/logo-white.png" alt="" srcset="" height="80px">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class=""></span>
						</button>

						<div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
							<ul class="navbar-nav  ">
								<li class="nav-item">
									<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" onclick="scrollToAbout()"> About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" onclick="scrollToServices()">
										Practics Tests
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" onclick="scrollToContact()">Contact
										us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span id="user-placeholder" class="welcome"></span></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- end header section -->
		<!-- slider section -->
		<section class=" slider_section ">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="detail-box">
										<h1>
											Knowledge Unleashed <br>
											<span>
												One Quiz Away
											</span>
										</h1>
										<p>
											Knowledge Unleashed is your gateway to a world of information and learning.
											With engaging quizzes and comprehensive content, you're just one quiz away
											from expanding your horizons.
										</p>
										<div class="btn-box">
											<!--<a href="" class="btn-1"> Read more </a>-->
											<a href="javascript:void(0);" onclick="scrollToServices()" class="btn-2">Get
												Started</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container idicator_container">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
				</div>
			</div>
		</section>
		<!-- end slider section -->
	</div>

	<!-- about section -->

	<section class="about_section layout_padding" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 px-0">
					<div class="img_container">
						<div class="img-box">
							<img src="../static/Images/About.png" alt="" />
						</div>
					</div>
				</div>
				<div class="col-md-6 px-0">
					<div class="detail-box">
						<div class="heading_container ">
							<h2>
								About Me?
							</h2>
						</div>
						<p>
							I am a software engineering student at ALX, Cohort 12. During my time at ALX, I've worked on
							various projects, including one where I developed a quiz application. This app offers
							practice tests in various domains, such as Project Management, Cybersecurity, Web
							Development, Cloud Computing, Database Management Basics, and Data Science Fundamentals.
							I'm passionate about software engineering and committed to learning and growing in the
							field.
							- <b>Opeyemi Olabisi Adegboye</b>
						</p>
						<div class="btn-box">
							<a href="javascript:void(0);" onclick="scrollToServices()">
								Start Practice Test
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end about section -->

	<!-- service section -->

	<section class="service_section layout_padding" id="services">
		<div class="container">
			<div class="heading_container heading_center">
				<h2>
					All Practice Tests
				</h2>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Data Science Fundamentals
							</h6>
							<p>Data Science Fundamentals is an in-depth look at the core ideas and methods of data
								science. Explore data analysis, and other topics.
							</p>
							<a href="{{ url_for('dsnquiz.start_dsnquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Database Management Basics
							</h6>
							<p>
								Database Management Basics covers the foundational principles of managing databases.
								Explore data storage, retrieval, and database design.
							</p>
							<a href="{{ url_for('dmquiz.start_dmquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Cloud Computing
							</h6>
							<p>
								Cloud Computing introduces cloud-based technologies and services. Learn about cloud
								infrastructure, deployment models, and more.
							</p>
							<a href="{{ url_for('ccquiz.start_ccquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Web Development
							</h6>
							<p>
								Web Development focuses on building websites and web applications. Explore web design,
								development frameworks, and more.
							</p>
							<a href="{{ url_for('wdquiz.start_wdquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Cybersecurity
							</h6>
							<p>
								Cybersecurity covers the principles of securing digital systems. Learn about network
								security, encryption, and threat detection.
							</p>
							<a href="{{ url_for('csyquiz.start_csyquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box ">
						<div class="img-box">
						</div>
						<div class="detail-box">
							<h6>
								Project Management
							</h6>
							<p>
								Project Management focuses on planning and executing projects effectively. Explore
								project lifecycles, methodologies, and more.
							</p>
							<a href="{{ url_for('pmquiz.start_pmquiz') }}">
								Start Quiz
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>

	</section>

	<!-- end service section -->

	<!-- contact section -->

	<section class="contact_section layout_padding" id="contact">
		<div class="contact_bg_box">
			<div class="img-box">
				<img src="../static/Images/contact-bg.jpg" alt="">
			</div>
		</div>
		<div class="container">
			<div class="heading_container heading_center">
				<h2>
					Get In touch
				</h2>
			</div>
			<div class="">
				<div class="row">
					<div class="col-md-7 mx-auto">
						<form action="https://formsubmit.co/opeyemiogunniyi230@gmail.com" method="POST">
							<div class="contact_form-container">
								<div>
									<div>
										<input type="text" placeholder="Full Name" name="full_name" />
									</div>
									<div>
										<input type="email" placeholder="Email "  name="email"/>
									</div>
									<div>
										<input type="text" placeholder="Phone Number" name="phone_number"/>
									</div>
									<div class="">
										<input type="text" placeholder="Message" class="message_input" name="message"/>
									</div>
									<div class="btn-box ">
										<button type="submit">
											Send
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end contact section -->

	<!-- info section -->
	<section class="info_section ">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="info_info">
						<h5>
							Contact Us
						</h5>
					</div>
					<div class="info_contact">
						<a href="" class="">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>
								Lorem ipsum dolor sit amet,
							</span>
						</a>
						<a href="" class="">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								Call : +070 0000 0000
							</span>
						</a>
						<a href="" class="">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								opeyemiogunniyi230@gmail.com
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="social_box">
						<a href="https://github.com/ope-spec">
							<i class="fa fa-github" aria-hidden="true"></i>
						</a>
						<a href="">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="https://medium.com/@opeyemiogunniyi230">
							<i class="fa fa-medium" aria-hidden="true"></i>
						</a>
						<a href="">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- end info_section -->


	<!-- footer section -->
	<footer class="container-fluid footer_section">
		<p>
			&copy; <span id="currentYear"></span> All Rights Reserved.
		</p>
	</footer>
	<!-- footer section -->

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/custom.js"></script>
	<script>
		function scrollToAbout() {
			const aboutSection = document.getElementById("about");
			aboutSection.scrollIntoView({ behavior: "smooth" });
		}
		function scrollToServices() {
			const aboutSection = document.getElementById("services");
			aboutSection.scrollIntoView({ behavior: "smooth" });
		}
		function scrollToContact() {
			const aboutSection = document.getElementById("contact");
			aboutSection.scrollIntoView({ behavior: "smooth" });
		}

		document.addEventListener("DOMContentLoaded", function () {
			// Check if the username is present in the session
			const username = "{{ session.get('username') }}";

			if (username) {
				// Replace the placeholder with the username
				const userPlaceholder = document.getElementById("user-placeholder");
				userPlaceholder.textContent = "Welcome, " + username;
			}
		});
	</script>
</body>

</html>