<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Management</title>
	<link rel="stylesheet" href="../static/CSS/dsnQuiz.css">
	<link rel="shortcut icon" href="../static/Images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="logo"><img src="../static/Images/logo.png" alt="" srcset=""></div>
	<div class="quizhead">
		<h1><b>Project Management</b></h1>
	</div>
	<form action="/pmquiz" method="POST">

        <div class="quiz-container">
            <p id="question">{{ question }}</p>
            <input type="radio" name="answer" value="1" id="option1">
            <label for="option1">{{ options[0] }}</label><br>
            <input type="radio" name="answer" value="2" id="option2">
            <label for="option2">{{ options[1] }}</label><br>
            <input type="radio" name="answer" value="3" id="option3">
            <label for="option3">{{ options[2] }}</label><br>
            <input type="radio" name="answer" value="4" id="option4">
            <label for="option4">{{ options[3] }}</label><br>
            <button type="submit" class="movetonext" onclick="submitForm()">Submit</button>
        </div>

    </form>

    <script>
        function submitForm() {
            const selectedAnswer = document.querySelector('input[name="answer"]:checked');
            if (!selectedAnswer) {
                alert('Please select an answer before submitting.');
                return;
            }

            const answer = selectedAnswer.value;

            fetch(`/pmquiz?answer=${answer}`, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                const quizContainer = document.querySelector('.quiz-container');
                quizContainer.innerHTML = data.html;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

</body>

</html>